<?xml version="1.0" encoding="utf-8"?>
<Content Key="792aa5ba-d9a5-444b-be96-4dab866bfb0b" Alias="Admin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Admin</Path>
    <Trashed>false</Trashed>
    <ContentType>admin</ContentType>
    <CreateDate>2025-12-10T14:56:03</CreateDate>
    <NodeName Default="Admin" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>