<?xml version="1.0" encoding="utf-8"?>
<Content Key="322d8104-bec6-4d50-af14-ca0bc07bb935" Alias="Blog-details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>blogDetails</ContentType>
    <CreateDate>2025-12-23T15:24:19</CreateDate>
    <NodeName Default="Blog-details" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8b6c7d5-b63b-4d1b-a26b-3daa54b450ba">blogDetails</Template>
  </Info>
  <Properties />
</Content>