<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf887ab3-6cae-4fcf-adab-8f2559993f37" Alias="Blog3" Level="2">
  <Info>
    <Parent Key="68dd7f11-86dc-419f-81dc-d2055bd29e0c">Blog</Parent>
    <Path>/Blog/Blog3</Path>
    <Trashed>false</Trashed>
    <ContentType>blogsItem</ContentType>
    <CreateDate>2025-12-23T14:50:32</CreateDate>
    <NodeName Default="Blog3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[We began by visiting smallholder farms tucked deep in the hills. These were places where generations of growers tended their crops with quiet dedication, nurturing each tree by hand. The cool mountain climate, gentle sunlight, and volcanic soil created the perfect environment for delicate Arabica varieties to thrive.]]></Value>
    </content>
    <image>
      <Value><![CDATA[[
  {
    "key": "a0826ef2-315e-4313-be58-f4f7b7673359",
    "mediaKey": "40132bfc-f926-4270-a5dd-8823e7e4e7ee",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <publishDate>
      <Value><![CDATA[2025-12-19T00:00:00]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Exploring the secret brews of the Central Highlands]]></Value>
    </title>
  </Properties>
</Content>