<?xml version="1.0" encoding="utf-8"?>
<Content Key="6456cc7f-8b92-4b7c-9d45-6f9922cb92f5" Alias="Blog1" Level="2">
  <Info>
    <Parent Key="68dd7f11-86dc-419f-81dc-d2055bd29e0c">Blog</Parent>
    <Path>/Blog/Blog1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogsItem</ContentType>
    <CreateDate>2025-12-22T17:43:33</CreateDate>
    <NodeName Default="Blog1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[Are you captivated by the world of specialty coffee or dreaming of tracing your favorite brews back to their origins? We’ve walked that path ourselves. After countless trips, conversations with local farmers, and early-morning hikes through misty plantations, we thought it was time to share what makes Da Lat coffee so special. Let’s begin where every great coffee story starts: at the farm.]]></Value>
    </content>
    <image>
      <Value><![CDATA[[
  {
    "key": "e5a3cd3c-04d4-47ed-8b2a-d0379a727c20",
    "mediaKey": "52de95d6-c5ca-4a0c-85cf-11036f35e8f9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <publishDate>
      <Value><![CDATA[2025-12-22T00:00:00]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Discovering the aroma trails of Da Lat coffee farms]]></Value>
    </title>
  </Properties>
</Content>