<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfc3f868-873a-498c-a306-652d326e0538" Alias="Blog5" Level="2">
  <Info>
    <Parent Key="68dd7f11-86dc-419f-81dc-d2055bd29e0c">Blog</Parent>
    <Path>/Blog/Blog5</Path>
    <Trashed>false</Trashed>
    <ContentType>blogsItem</ContentType>
    <CreateDate>2025-12-23T14:59:21</CreateDate>
    <NodeName Default="Blog5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[Drying beds stretch across the farmyards, loaded with cherries slowly turning under the afternoon sun.  Producers constantly rake and rotate them to ensure even drying. This step might seem simple, but it’s one of the most important for maintaining clarity and preventing defects.]]></Value>
    </content>
    <image>
      <Value><![CDATA[[
  {
    "key": "615d4944-3e2a-4578-ae4f-e9cd83b77510",
    "mediaKey": "bfb47aa2-71f1-496d-91a9-c6273ad533e6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <publishDate>
      <Value><![CDATA[2025-12-20T00:00:00]]></Value>
    </publishDate>
    <title>
      <Value><![CDATA[Savoring the first pour of a new seasonal blend]]></Value>
    </title>
  </Properties>
</Content>