<?xml version="1.0" encoding="utf-8"?>
<Content Key="68dd7f11-86dc-419f-81dc-d2055bd29e0c" Alias="Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogs</ContentType>
    <CreateDate>2025-12-22T17:38:53</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="62e8a37b-4456-4a78-b78c-331455d6af9e">blogs</Template>
  </Info>
  <Properties />
</Content>