<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fe5c6e7-f5f7-4d13-b6c3-4a5364fba943" Alias="Blog2" Level="2">
  <Info>
    <Parent Key="68dd7f11-86dc-419f-81dc-d2055bd29e0c">Blogs</Parent>
    <Path>/Blogs/Blog2</Path>
    <Trashed>false</Trashed>
    <ContentType>blogsItem</ContentType>
    <CreateDate>2025-12-22T18:12:59</CreateDate>
    <NodeName Default="Blog2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ebf76d76-fc5d-4825-9cd5-4f27cae46277",
      "key": "77de6c22-6c08-4f1b-b644-b0c17487d9bb",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022Delicious3.png\u0022 width=\u0022333\u0022 height=\u0022500\u0022 data-udi=\u0022umb://media/766239b320c543cd8adb7e824f5021eb\u0022\u003E\u003C/p\u003E\u003Cp\u003E\u003Cstrong\u003EBlog2\u003C/strong\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "77de6c22-6c08-4f1b-b644-b0c17487d9bb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "77de6c22-6c08-4f1b-b644-b0c17487d9bb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <image>
      <Value><![CDATA[[
  {
    "key": "5d82aba2-2f96-4930-b4cd-000145f85846",
    "mediaKey": "28bf6a74-5fd3-41ab-ba0f-70fce449a960",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <publishDate>
      <Value><![CDATA[2025-12-22T00:00:00]]></Value>
    </publishDate>
    <tagName>
      <Value><![CDATA[Coffee]]></Value>
    </tagName>
    <title>
      <Value><![CDATA[A warm afternoon with artisans roasting in Saigon]]></Value>
    </title>
  </Properties>
</Content>