<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c5b4420-ebd6-4dd8-b843-456b18c99b0a" Alias="Cart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cart</Path>
    <Trashed>false</Trashed>
    <ContentType>cart</ContentType>
    <CreateDate>2025-12-11T01:02:53</CreateDate>
    <NodeName Default="Cart" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d2d0d40e-4b4f-40a0-bb16-8a6cacb48264">cart</Template>
  </Info>
  <Properties>
    <cartNumberId>
      <Value><![CDATA[]]></Value>
    </cartNumberId>
    <customerId>
      <Value><![CDATA[]]></Value>
    </customerId>
    <listVoucher>
      <Value><![CDATA[]]></Value>
    </listVoucher>
    <noteForSeller>
      <Value><![CDATA[]]></Value>
    </noteForSeller>
    <shippingFee>
      <Value><![CDATA[0]]></Value>
    </shippingFee>
    <subtotal>
      <Value><![CDATA[0]]></Value>
    </subtotal>
    <total>
      <Value><![CDATA[0]]></Value>
    </total>
    <voucherCode>
      <Value><![CDATA[]]></Value>
    </voucherCode>
  </Properties>
</Content>