<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d74a5a3-bf42-401c-8acf-395b4b44e374" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>partners</ContentType>
    <CreateDate>2025-12-25T15:50:30</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fc6b1dcf-e8b0-44a3-b717-0a00a08947b4">partners</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[At GOK coffee, partnerships are an extension of our aim of making great quality coffee accessible and exploring endless possibilities of specialty coffee with unique form factors, new products and meaningful collaborations. Our partnerships with like-minded brands bring together our love for coffee, appreciation for culture and ideas of building unparalleled experiences for our community. Some of the partnerships we’ve inked over the last few years are:]]></Value>
    </description>
    <title>
      <Value><![CDATA[Partnerships]]></Value>
    </title>
  </Properties>
</Content>