<?xml version="1.0" encoding="utf-8"?>
<Content Key="66a6f5aa-8a57-486c-bb92-9f3e43ad96a1" Alias="Partner3" Level="2">
  <Info>
    <Parent Key="9d74a5a3-bf42-401c-8acf-395b4b44e374">Partners</Parent>
    <Path>/Partners/Partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>partnersItems</ContentType>
    <CreateDate>2025-12-25T16:13:30</CreateDate>
    <NodeName Default="Partner3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "125deeb3-28db-4b04-8a76-fd8a979cfba8",
    "mediaKey": "a70876fc-221c-4222-82b9-fb608cd414e6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Coffee Package]]></Value>
    </title>
  </Properties>
</Content>