<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b61410b-4754-48ed-8114-e4805c1de2f1" Alias="Partner1" Level="2">
  <Info>
    <Parent Key="9d74a5a3-bf42-401c-8acf-395b4b44e374">Partners</Parent>
    <Path>/Partners/Partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>partnersItems</ContentType>
    <CreateDate>2025-12-25T15:55:46</CreateDate>
    <NodeName Default="Partner1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "05a6b9bd-13d1-48bb-907c-996295731eb1",
    "mediaKey": "08a55339-cb29-4d46-9845-aca26f9380c7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Play bar project]]></Value>
    </title>
  </Properties>
</Content>