<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebece7a6-1d6a-4c19-95ec-d231898172cb" Alias="Partner-Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PartnerDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerDetails</ContentType>
    <CreateDate>2025-12-25T16:49:03</CreateDate>
    <NodeName Default="Partner-Details" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="995b4eb2-0efb-4857-92a9-48b2aebc7947">partnerDetails</Template>
  </Info>
  <Properties />
</Content>