<?xml version="1.0" encoding="utf-8"?>
<Content Key="49d3a5fe-29dc-42e2-8eb1-6e5def755fe7" Alias="Partner2" Level="2">
  <Info>
    <Parent Key="9d74a5a3-bf42-401c-8acf-395b4b44e374">Partners</Parent>
    <Path>/Partners/Partner2</Path>
    <Trashed>false</Trashed>
    <ContentType>partnersItems</ContentType>
    <CreateDate>2025-12-25T16:09:33</CreateDate>
    <NodeName Default="Partner2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "5d9f7859-8bb8-4cf4-afbc-e15309134e8c",
    "mediaKey": "b04f2097-050e-42a4-9d99-eb5aa3178bcd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[GrabFood]]></Value>
    </title>
  </Properties>
</Content>