<?xml version="1.0" encoding="utf-8"?>
<Content Key="69bf7950-3f73-4320-bd69-473b7e11f3d0" Alias="TestItem" Level="2">
  <Info>
    <Parent Key="bfcdf768-d16a-40fb-a942-2ed1cad424fb">Products</Parent>
    <Path>/Products/TestItem</Path>
    <Trashed>false</Trashed>
    <ContentType>productItem</ContentType>
    <CreateDate>2025-12-10T14:33:08</CreateDate>
    <NodeName Default="TestItem" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[11]]></Value>
    </category>
    <description>
      <Value><![CDATA[111]]></Value>
    </description>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <price>
      <Value><![CDATA[111]]></Value>
    </price>
    <title>
      <Value><![CDATA[1]]></Value>
    </title>
  </Properties>
</Content>