<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9d96fad-d68c-4147-be30-911a9ff5e54f" Alias="Header" Level="2">
  <Info>
    <Parent Key="cbce3d11-f0fe-4707-8c3b-e0eae8721d32">Hompage</Parent>
    <Path>/Hompage/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>header</ContentType>
    <CreateDate>2025-12-04T11:17:24</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>