<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfcdf768-d16a-40fb-a942-2ed1cad424fb" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>productList</ContentType>
    <CreateDate>2025-12-04T11:33:31</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="101b3765-9c1d-40c5-bf1c-eb78eb3c16e7">productList</Template>
  </Info>
  <Properties />
</Content>