<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f08b1f32-b747-4ed4-9ab9-f2390096288b" Alias="blogs" Level="2">
  <Info>
    <Name>Blogs</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blogs</Folder>
    <Compositions />
    <DefaultTemplate>blogs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="62e8a37b-4456-4a78-b78c-331455d6af9e">blogs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8be86ad7-bf81-4790-af8f-737b531c438b" SortOrder="0">blogsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>