<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8989b9c1-9967-4348-8f54-6dd3d705e1ef" Alias="blogDetails" Level="2">
  <Info>
    <Name>BlogDetails</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>BlogDetails</Folder>
    <Compositions />
    <DefaultTemplate>blogDetails</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8b6c7d5-b63b-4d1b-a26b-3daa54b450ba">blogDetails</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>