<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78f78856-c570-459b-9a4a-419e3e3a2008" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Homepage</Folder>
    <Compositions />
    <DefaultTemplate>homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="215748ee-0a55-477d-8bd8-c57976166ca9">homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="40d9c549-8618-4019-9331-62e3bf1a7c28" SortOrder="0">footer</ContentType>
    <ContentType Key="6332bbc3-1dcb-48ca-bcaf-5132c7d2a767" SortOrder="1">header</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>