<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a4bcc0fc-c72a-4cc0-9627-5c46f4f48b9d" Alias="partnerDetails" Level="2">
  <Info>
    <Name>PartnerDetails</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>PartnersDetails</Folder>
    <Compositions />
    <DefaultTemplate>partnerDetails</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="995b4eb2-0efb-4857-92a9-48b2aebc7947">partnerDetails</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>