<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9869274-2821-4b90-84b1-f888b8477710" Alias="productList" Level="2">
  <Info>
    <Name>ProductList</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Product</Folder>
    <Compositions />
    <DefaultTemplate>productList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="101b3765-9c1d-40c5-bf1c-eb78eb3c16e7">productList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fb0a2227-1b4a-4fe5-a820-c5a605b44358" SortOrder="0">productItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>