<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f443ac67-42cc-4147-a598-938def1d2b1c" Alias="productDetail" Level="2">
  <Info>
    <Name>ProductDetail</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>ProductDetail</Folder>
    <Compositions />
    <DefaultTemplate>productDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6c9cf7c3-c433-4075-abcc-fc29aa7c789d">productDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>