<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a68d366-edb9-4997-9e35-222e68da23e8" Alias="search" Level="2">
  <Info>
    <Name>Search</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Search</Folder>
    <Compositions />
    <DefaultTemplate>search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="248a73b6-a8f2-438a-91ef-9f3b85400200">search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>