<?xml version="1.0" encoding="utf-8"?>
<Media Key="193605b5-60a9-4726-a333-b25b084c2f6f" Alias="bg4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bg4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-23T15:01:56</CreateDate>
    <NodeName Default="bg4.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hlhhbl4a/bg4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>