<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c303a7d-d711-4cf5-a739-10f420c517f9" Alias="blog5.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/blog5png</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-23T14:57:47</CreateDate>
    <NodeName Default="blog5.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4lyhn0ty/blog5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>