<?xml version="1.0" encoding="utf-8"?>
<Media Key="52de95d6-c5ca-4a0c-85cf-11036f35e8f9" Alias="blog1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blog1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-22T18:02:09</CreateDate>
    <NodeName Default="blog1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lfpjrzfd/blog1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>