<?xml version="1.0" encoding="utf-8"?>
<Media Key="60bf1b9d-a34c-4476-b176-97c8598d97be" Alias="Blog Details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-24T09:20:35</CreateDate>
    <NodeName Default="Blog Details" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cliptvrf/blog-details.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>