<?xml version="1.0" encoding="utf-8"?>
<Media Key="48469b76-98dc-4932-9d97-bd50f58e4999" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-12-26T14:57:09</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>