<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3db7f31-f22c-444f-8d82-ca5299ea1475" Alias="partner1.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/partner1png</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-25T15:52:53</CreateDate>
    <NodeName Default="partner1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x00j03kf/partner1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>