<?xml version="1.0" encoding="utf-8"?>
<DataType Key="569d3642-ae5e-4bbf-a919-2cc72b945f37" Alias="BlogDetails - Content - Rich Text Editor [Tiptap] Property Editor UI" Level="1">
  <Info>
    <Name>BlogDetails - Content - Rich Text Editor [Tiptap] Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Anchor",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.HorizontalRule",
    "Umb.Tiptap.HtmlAttributeClass",
    "Umb.Tiptap.HtmlAttributeDataset",
    "Umb.Tiptap.HtmlAttributeId",
    "Umb.Tiptap.HtmlAttributeStyle",
    "Umb.Tiptap.HtmlTagDiv",
    "Umb.Tiptap.HtmlTagSpan",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.Strike",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.TrailingNode",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.WordCount"
  ],
  "ignoreUserStartNodes": true,
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.HorizontalRule"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.EmbeddedMedia",
        "Umb.Tiptap.Toolbar.ClearFormatting",
        "Umb.Tiptap.Toolbar.CodeBlock",
        "Umb.Tiptap.Toolbar.Heading4",
        "Umb.Tiptap.Toolbar.Heading5",
        "Umb.Tiptap.Toolbar.Heading6",
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.TextAlignJustify",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.TextAlignCenter",
        "Umb.Tiptap.Toolbar.TextAlignRight",
        "Umb.Tiptap.Toolbar.OrderedList"
      ]
    ],
    [
      [
        "Umb.Tiptap.Toolbar.TextAlignLeft"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList"
      ],
      [
        "Umb.Tiptap.Toolbar.Blockquote"
      ],
      [
        "Umb.Tiptap.Toolbar.Italic"
      ],
      [
        "Umb.Tiptap.Toolbar.Underline"
      ]
    ],
    [
      [
        "Umb.Tiptap.Toolbar.Heading1"
      ],
      [
        "Umb.Tiptap.Toolbar.Heading2"
      ],
      [
        "Umb.Tiptap.Toolbar.Heading3"
      ],
      [
        "Umb.Tiptap.Toolbar.FontFamily"
      ],
      [
        "Umb.Tiptap.Toolbar.FontSize",
        "Umb.Tiptap.Toolbar.MediaPicker"
      ]
    ]
  ]
}]]></Config>
</DataType>