<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edd65c4b-4ebc-4c38-8afb-9977c66af265" Alias="BlogsItem -  - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>BlogsItem -  - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ebf76d76-fc5d-4825-9cd5-4f27cae46277",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "Rich Text"
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>