<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0656bdd3-bc17-443b-b1c3-e4c781b4f3df" Alias="Cart - Total - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Cart - Total - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>