<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca1e8102-5d93-466a-9dcd-af492bc802fd" Alias="Cart - Subtotal - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Cart - Subtotal - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>