<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a212a6d2-1da0-4af6-ae12-dcfba1c49d88" Alias="Cart - Shipping fee - Decimal Property Editor UI" Level="1">
  <Info>
    <Name>Cart - Shipping fee - Decimal Property Editor UI</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Decimal</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "step": "0.01"
}]]></Config>
</DataType>