<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d359a94-5933-4acd-9a87-587457092b81" Alias="Rich Text Block - TagName - Code Editor Property Editor UI" Level="1">
  <Info>
    <Name>Rich Text Block - TagName - Code Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "min": 0
}]]></Config>
</DataType>