<?xml version="1.0" encoding="utf-8"?>
<Content Key="0badda1c-6037-4a14-a7ee-d72c0155973f" Alias="Footer" Level="2">
  <Info>
    <Parent Key="cbce3d11-f0fe-4707-8c3b-e0eae8721d32">Hompage</Parent>
    <Path>/Hompage/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2025-12-04T11:17:37</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>