<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbce3d11-f0fe-4707-8c3b-e0eae8721d32" Alias="Hompage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hompage</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2025-12-04T11:17:03</CreateDate>
    <NodeName Default="Hompage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="215748ee-0a55-477d-8bd8-c57976166ca9">homepage</Template>
  </Info>
  <Properties />
</Content>